@{
    ViewData["Title"] = "Jugar";
}

<div class="pagina-ruleta">
  <div class="puntajes">
    <div class="jugador jugador-1">
      <img src="~/images/jugador.png" alt="icono jugador" width="80" class="img-player"/>
      <div>   
        <p class="nombre-jugador">Gonzalo Gonzalez</p>
        <div class="personajes">
          <img src="~/images/personajes/Entretenimiento.png" alt="" width="40">
          <img src="~/images/personajes/Arte.png" alt="" width="40" class="b-n">
          <img src="~/images/personajes/Deporte.png" alt="" width="40">
          <img src="~/images/personajes/Historia.png" alt="" width="40" class="b-n">
          <img src="~/images/personajes/Ciencia.png" alt="" width="40" class="b-n">
          <img src="~/images/personajes/Geografia.png" alt="" width="40">
        </div>
      </div>
    </div>
    <div class="versus"><p>vs</p></div>
    <div class="jugador jugador-2">
      <div>
        <p class="nombre-jugador">Fernando Fernandez</p>
        <div class="personajes">
          <img src="~/images/personajes/Geografia.png" alt="" width="40">
          <img src="~/images/personajes/Ciencia.png" alt="" width="40" class="b-n">
          <img src="~/images/personajes/Historia.png" alt="" width="40">
          <img src="~/images/personajes/Deporte.png" alt="" width="40" class="b-n">
          <img src="~/images/personajes/Arte.png" alt="" width="40">
          <img src="~/images/personajes/Entretenimiento.png" alt="" width="40">
        </div>
      </div>
      <img src="~/images/jugador.png" alt="icono jugador" width="80" class="img-player"/>
    </div>
  </div>
  <div class="tablero-padre">
    <div class="tablero">
      <img src="~/images/imagen-ruleta.png" id="ruleta" />
      <img src="~/images/boton-ruleta.png" id="boton" />
    </div>
  </div>
      <form method="post" action="Pregunta">
        <input type="text" name="idCategoria" id="idCategoria" class="form-control" hidden>
        <button type="submit" id="botonFormulario" hidden></button>
      </form>
</div>

<script>

function girar() {
	let valor = getRandomInt(0, 360);
	calcular(valor);

	function calcular(valor) {
		var m = 360 / 7 / 2;
		ruleta.style.transform = "rotate(" + (0 - valor) + "deg)";
		setTimeout(() => {
			switch (true) {
				case valor > 0 && valor <= m:
					//alert("Historia");
          idCategoria.value = "@ViewBag.Categorias[5].idCategoria";
					break;
				case valor > m && valor <= m * 3:
					//alert("Deportes");
          idCategoria.value = "@ViewBag.Categorias[2].idCategoria";
					break;
				case valor > m * 3 && valor <= m * 5:
					//alert("Arte");
          idCategoria.value = "@ViewBag.Categorias[0].idCategoria";
					break;
				case valor > m * 5 && valor <= m * 7:
					//alert("Entretenimiento");
          idCategoria.value = "@ViewBag.Categorias[3].idCategoria";
					break;
				case valor > m * 7 && valor <= m * 9:
					alert("Corona");
					break;
				case valor > m * 9 && valor <= m * 11:
					//alert("Geografia");
          idCategoria.value = "@ViewBag.Categorias[4].idCategoria";
					break;
				case valor > m * 11 && valor <= m * 13:
					//alert("Ciencias");
          idCategoria.value = "@ViewBag.Categorias[1].idCategoria";
					break;
				default:
					//alert("Historia");
          idCategoria.value = "@ViewBag.Categorias[5].idCategoria";
					break;
			}
      setTimeout(() => {
        botonFormulario.click();
      }, 2000)
		}, 2500);
	}
}

document.addEventListener("DOMContentLoaded", () => {
    const ruleta = document.querySelector("#ruleta");
    const boton = document.querySelector("#boton");
    const idCategoria = document.querySelector("#idCategoria");
    const botonFormulario = document.querySelector("#botonFormulario");
    boton.addEventListener("click", girar);
});

</script>