@{
    ViewData["Title"] = "Pregunta";
}

<style>
    .cabecera-preguntas{
        background-color: @ViewBag.Categoria.ColorFondo;
    }
</style>

<div class="pagina-pregunta">
    <header class="cabecera-preguntas">
        <div class="info-head">
            <p>@ViewBag.Categoria.Nombre</p>
            <p id="contador">30''</p>
        </div>
        <div class="barra-carga barra-crece"></div>
    </header>

    <main class="juego">
        <div class="cuadro-pregunta">
            <p>@ViewBag.Pregunta.Enunciado</p>
            <img src="" alt="">
        </div>
        <div class="opciones">
            @{
                foreach(Respuesta respuesta in @ViewBag.Respuestas){
                    <button class="opcion" id="@respuesta.Opcion" data-correcta="@respuesta.Correcta">
                        <p>@respuesta.Contenido</p>
                    </button>
                }
            }
            <form method="post" action="TerminarPregunta">
                <input type="number" name="idPregunta" value="@ViewBag.Respuestas[0].idPregunta" hidden>
                <input type="number" name="correcta" id="correcta" hidden>
                <button type="submit" id="enviar" hidden></button>
            </form>
        </div>
    </main>
    <footer class="ayudas">
        <div class="bomba borde-der"><img src="~/images/pregunta/bomba.png" alt="bomba"></div>
        <div class="doble borde-der"><img src="~/images/pregunta/doble.png" alt="doble"></div>
        <div class="tick borde"><img src="~/images/pregunta/tick.png" alt="tick"></div>
    </footer>
</div>


<script>
    function contador(objeto, tiempo, intervalo){
        window.setInterval(function(){
            if(tiempo >= 0){
                objeto.textContent = tiempo + "''";
                tiempo--;
            }
        }, intervalo * 1000);
    }

    function correcto(boton){
        boton.style.backgroundColor = "green";
        correcta.value = 1;
        enviar.click();
    }

    function incorrecto(boton){
        boton.style.backgroundColor = "red";
        correcta.value = 0;
        enviar.click();
    }

    document.addEventListener("DOMContentLoaded", () => {
        const botones = document.querySelectorAll(".opcion");
        const objeto = document.getElementById("contador");
        const enviar = document.querySelector("#enviar");
        const correcta = document.querySelector("#correcta");

        botones.forEach(boton => {
            boton.addEventListener("click", function() {
                (boton.dataset.correcta == "True") ? correcto(boton) : incorrecto(boton);
            });
        });

        contador(objeto, 29, 1);
    });
</script>
