@{
    ViewData["Title"] = "Pregunta";
}

<style>
    .cabecera-preguntas{
        background-color: @ViewBag.Categoria.ColorFondo;
    }

    .correcta{
        background: green;
    }

    .incorrecta{
        background: red;
    }

    .noValida{
        background: rgb(111, 111, 111);
        color: black;
    }
</style>

<div class="pagina-pregunta">
    <header class="cabecera-preguntas">
        <div class="info-head">
            <p>@ViewBag.Categoria.Nombre</p>
            <p id="contador">30''</p>
        </div>
        <div class="barra-carga barra-crece"></div>
    </header>

    <main class="juego">
        <div class="cuadro-pregunta">
            <p>@ViewBag.Pregunta.Enunciado</p>
            <img src="" alt="">
        </div>
        <div class="opciones">
            @{
                foreach (Respuesta respuesta in @ViewBag.Respuestas)
                {
                            <button class="opcion" id="@respuesta.Opcion" data-correcta="@respuesta.Correcta">
                                <p>@respuesta.Contenido</p>
                            </button>
                }
            }
            <form method="post" action="TerminarPregunta">
                <input type="number" name="idPartida" value="@ViewBag.Partida.idPartida" hidden>
                <input type="number" name="idPregunta" value="@ViewBag.Respuestas[0].idPregunta" hidden>
                <input type="number" name="correcta" id="correcta" hidden>
                <button type="submit" id="enviar" hidden></button>
            </form>
        </div>
    </main>
    <footer class="ayudas">
        <button class="ayuda bomba borde-der" onclick="ayuda(this)" data-tipo="bomba"><img src="~/images/pregunta/bomba.png" alt="Bomba ICO"></button>
        <button class="ayuda doble borde-der" onclick="ayuda(this)" data-tipo="doble"><img src="~/images/pregunta/doble.png" alt="DobleChance ICO"></button>
        <button class="ayuda tick borde"  onclick="ayuda(this)" data-tipo="tick"><img src="~/images/pregunta/tick.png" alt="Tick ICO"></button>
    </footer>
</div>


<script>
    document.addEventListener("DOMContentLoaded", () => {
        const opciones = document.querySelectorAll(".opcion");
        const enviar = document.querySelector("#enviar");
        const cont = document.getElementById("contador");

        opciones.forEach(opcion => {
            opcion.addEventListener("click", () => {
                clickOpcion(opcion);
            });
        });

        contador(cont, 29, 1, opciones, enviar);
    });
</script>
